.sidebar {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.documentsLink {
    text-decoration: none;
    margin-top: 10px;
    font-family: "Acrom W00 Bold";
    font-size: 15px;
    color: #272727;
}